.header__nav {

}

.header__list{
    display: flex;
    margin-top: 23px;
    gap: 20px;
    align-items: center;
}

.header__logo{
    margin-right: 117px;
}

.header__list li:nth-child(7) {
margin-inline-start: auto;
}

.header__list li:nth-child(2)   { margin-inline-start: auto; }
.header__list li:nth-last-child(3) { margin-inline-end: auto; }




.header__link {
  display: flex;       
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
padding: 10px;
}


.header__item--log {
     width: 87px;
 height: 40px;
transition-duration: .4s;
border-radius: 8px;

 &:hover{
        transform: translateY(-2px) ;
 scale: 1.02;
      color: var(--white);
 background:  var(--black);
}

}



.header__item--sign{
    color: var(--white);
 background:  var(--black);
     width: 87px;
 height: 40px;
 transition-duration: .4s;
border-radius: 8px;

&:hover{
    transform: translateY(-2px) ;
 scale: 1.02;
}

}