.button-sign{
width: 147px;
height: 62px;
border-radius: 8px;
background: var(--black);
color: var(--white);
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
 transition-duration: .4s;

&:hover{
    transform: translateY(-2px) ;
 scale: 1.02;
}
}

.button-contact{
    display: flex;
justify-content: center;
align-items: center;
width: 147px;
height: 62px;
 transition-duration: .4s;
 border-radius: 8px;
 &:hover{
        transform: translateY(-2px) ;
 scale: 1.02;
      color: var(--white);
 background:  var(--black);
}

}

.button-wrap{
    gap: 16px;
    display: flex;
}